.btn-xlg{


     padding: 250px 25px !important;
     font-size: 21px !important;
     line-height: 1.3333333 !important;
     border-radius: 5px !important;
     background-color: #ef5454 !important;
     width: 50%;
     height: 80%;
     /*margin-left: auto;*/
     /*margin-right: auto;*/
     top: 0;
     left: 0;
 }


.col-xs-6{
    padding-left: 1px !important;
    padding-right: 1px !important;
}

@media (max-width: 765px) {
    .margin-login{
        margin-top: 15px;
    }

    .swipe-center{
        position:absolute;
        top:  calc(50% - 35px);
        left: calc(50% - 35px);
    }

    .buttontext{
        position: relative;
        top:10%;
    }

    .showposition{
        position: relative;
        top: calc(50% - 50px);
        font: 50px Helvetica, Arial, sans-serif;
        color: white;


    }


}

@media (min-width: 765px) {
    .margin-login{
        margin-top: 50px;
    }

    .swipe-center{
        position:absolute;
        top: calc(50% - 35px);
        left: calc(50% - 35px);
    }

    .buttontext{
        position: relative;
        top:50%;
    }

    .showposition{
        position: relative;
        top: calc(50% - 75px);
        font: 125px Helvetica, Arial, sans-serif;
        color: white;


    }
}



#myElement {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font: 30px Helvetica, Arial, sans-serif;
    z-index: 9999;
    background-color: transparent;
}

#showPosition{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font: 30px Helvetica, Arial, sans-serif;
    background-color: white;



}


.background-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px !important;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

.full{
    height: 100%;
}

#left{
    position: absolute;
    top:10%;
    left: 0;
    width: 50%;
    height: 90%;
    background: rgba(248, 255, 255, 0);
}

#right{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    height: 90%;
    background: rgba(0, 0, 0, 0);
}
#top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    font: 20px Helvetica, Arial, sans-serif;

}


html{
    height: 100%;
}

body{
    height: 100%;
}
.clickbox{

    cursor: pointer;
}

.top-50{
    top: 50% !important;
}





