.debris {
    display: none;
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    opacity: 1.0;
    overflow: hidden;
    border-radius: 0px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}

.debris-small-horizontal {
    display: none;
    position: absolute;
    width: 10px;
    height: 5px;
    background-color: #ffffff;
    opacity: 1.0;
    overflow: hidden;
    border-radius: 0px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}

.debris-small-vertical{
    display: none;
    position: absolute;
    width: 5px;
    height: 10px;
    background-color: #ffffff;
    opacity: 1.0;
    overflow: hidden;
    border-radius: 0px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
}

